<h1>Add a New Movie</h1>

<%= form_with model: @movie, local: true do |form| %>
  <% if @movie.errors.any? %>
    <div class="errors">
      <h2>Errors:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.submit "Create Movie" %>
  </div>
<% end %>

<%= link_to 'Back to Movies', movies_path %>
