<div id="<%= dom_id user %>">
  <% unless current_user.admin? && user.admin? %>
    <p>
      <strong>Username:</strong>
      <%= user.username %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <% unless current_user.admin? && user.admin? %>
    <p>
      <strong>Address:</strong>
      <%= user.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= user.phone_number %>
    </p>
  <% end %>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
