<%= link_to "Home", root_path %>
<h1>Purchase Ticket</h1>

<% unless current_user.admin? %>
  <p><strong>Movie:</strong> <%= @show.movie.title %></p>
  <p><strong>Date:</strong> <%= @show.date %></p>
  <p><strong>Time:</strong> <%= @show.time.strftime('%H:%M') %></p>
  <p><strong>Ticket Price:</strong> $<%= @show.ticket_price %></p>
<% end %>

<%= form_with model: @ticket, url: tickets_path, local: true do |f| %>
  <% if current_user.admin? %>
    <div>
      <%= f.label :user_id, "User" %>
      <%= f.collection_select :user_id, User.all, :id, :username, prompt: "Select a user" %>
    </div>

    <div>
      <%= f.label :show_id, "Show" %>
      <%= f.collection_select :show_id, Show.all, :id, lambda { |s| "#{s.movie.title} - #{s.date.strftime('%B %d, %Y')} - #{s.time.strftime('%H:%M')}" }, prompt: "Select a show" %>
    </div>
  <% else %>
    <div>
      <%= f.hidden_field :show_id, value: @show.id %>
    </div>
  <% end %>

  <div>
    <%= f.label :credit_card_id, "Credit Card" %>
    <%= f.collection_select :credit_card_id, current_user.credit_cards, :id, :card_number, prompt: "Select a credit card" unless current_user.admin? %>
  </div>

  <%= f.submit "Book Ticket", class: "btn btn-primary" %>
<% end %>

<% unless current_user.admin? %>
  <%= link_to 'Cancel', movie_show_path(@show.movie, @show), class: 'btn btn-secondary' %>
<% end %>
