<h1>Edit Showtime for <%= @movie.title %></h1>

<%= form_with(model: @show, url: movie_show_path(@movie, @show), method: :patch) do |form| %>
  <% if @show.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>
      <ul>
        <% @show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :seats_available %>
    <%= form.number_field :seats_available, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ticket_price %>
    <%= form.number_field :ticket_price, class: "form-control", step: "0.01" %>
  </div>

  <div class="form-group">
    <%= form.submit "Update Showtime", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Showtimes', movie_shows_path(@movie), class: "btn btn-secondary" %>
